# Python build artifacts
__pycache__/

# Virtual Environment
.venv/

# Project Data (Raw)
data/

# Project Artifacts (Outputs)
results/
features_cache/

# Logging
wandb/

# OS / IDE specific (Good practice)
.DS_Store
.vscode/
.idea/
